<div *ngIf="ruvent" class="row">
  <div class="col-12 col-md-4 offset-md-4 card shadow">
    <div class="card-body">
      <div class="text-center">
        <h2 class="card-title">{{ruvent.title}}</h2>
      </div>
      <p class="card-text">{{ruvent.description}}</p>
      <p class="card-text"><strong>When:</strong> {{ruvent.startDate | date:'shortDate'}}
        {{ruvent.startTime | numberToTime}} -
        {{ruvent.endTime | numberToTime}}</p>
      <p class="card-text"><strong>Where:</strong> {{ruvent.address}}</p>
      <div class="row">
        <div class="col-6">
          <button (click)="deleteRuvent()" class="btn btn-sm btn-block btn-danger shadow-sm">Delete</button>
        </div>
        <div class="col-6">
          <button routerLink="/edit/{{ruvent.ruventId}}" class="btn btn-sm btn-block btn-info shadow-sm">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button routerLink="/home" class="home-btn btn btn-sm btn-block btn-secondary shadow-sm">Go Home</button>
  </div>
</div>
