<div class="row">
    <div class="col col-md-6 offset-md-3">
      <h3>Register</h3>
    </div>
  </div>
  
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="title">Phone Number:</label>
        <input type="number" class="form-control" formControlName="phoneNumber" required>
        <div
          *ngIf="registerForm.controls['phoneNumber'].invalid && (registerForm.controls['phoneNumber'].dirty || registerForm.controls['phoneNumber'].touched)">
          <p *ngIf="registerForm.controls['phoneNumber'].errors.required" class="text-danger">
            Your phone number is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" formControlName="firstName" required>
        <div
          *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
          <p *ngIf="registerForm.controls['firstName'].errors.required" class="text-danger">
            Your first name is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName" required>
        <div
          *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
          <p *ngIf="registerForm.controls['lastName'].errors.required" class="text-danger">
            Your last name is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="nickName">Family Nickname:</label>
        <input type="text" class="form-control" formControlName="nickName" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6 col-md-3 offset-md-3">
        <button routerLink="/home" class="btn btn-lg btn-secondary btn-block shadow-sm" type="reset">Cancel</button>
      </div>
      <div class="col-6 col-md-3">
        <button [disabled]="registerForm.invalid" class="btn btn-lg btn-success btn-block shadow-sm" type="submit">Register</button>
      </div>
    </div>
  </form>
  