<div class="row">
    <div class="col col-md-6 offset-md-3">
      <h3>Edit Ruvent</h3>
    </div>
  </div>
  
  <form [formGroup]="ruventForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="title">Title:</label>
        <input type="text" class="form-control" formControlName="title" required>
        <div
          *ngIf="ruventForm.controls['title'].invalid && (ruventForm.controls['title'].dirty || ruventForm.controls['title'].touched)">
          <p *ngIf="ruventForm.controls['title'].errors.required" class="text-danger">
            A title is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="description">Description:</label>
        <textarea class="form-control" formControlName="description" rows="3" required></textarea>
        <div
          *ngIf="ruventForm.controls['description'].invalid && (ruventForm.controls['description'].dirty || ruventForm.controls['description'].touched)">
          <p *ngIf="ruventForm.controls['description'].errors.required" class="text-danger">
            A description is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="address">Location Address:</label>
        <input type="text" class="form-control" formControlName="address" required>
        <div
          *ngIf="ruventForm.controls['address'].invalid && (ruventForm.controls['address'].dirty || ruventForm.controls['address'].touched)">
          <p *ngIf="ruventForm.controls['address'].errors.required" class="text-danger">
            An address is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="date">Date & Time:</label>
        <input type="datetime-local" class="form-control" formControlName="startDate" required>
        <div
          *ngIf="ruventForm.controls['startDate'].invalid && (ruventForm.controls['startDate'].dirty || ruventForm.controls['startDate'].touched)">
          <p *ngIf="ruventForm.controls['startDate'].errors.required" class="text-danger">
            A date is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col col-md-6 offset-md-3">
        <label for="date">End Date & Time:</label>
        <input type="datetime-local" class="form-control" formControlName="endDate" required>
        <div
          *ngIf="ruventForm.controls['endDate'].invalid && (ruventForm.controls['endDate'].dirty || ruventForm.controls['endDate'].touched)">
          <p *ngIf="ruventForm.controls['endDate'].errors.required" class="text-danger">
            A date is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6 col-md-3 offset-md-3">
        <button routerLink="/home" class="btn btn-secondary btn-lg btn-block shadow-sm" type="reset">Cancel</button>
      </div>
      <div class="col-6 col-md-3">
        <button [disabled]="ruventForm.invalid" class="btn btn-success btn-lg btn-block shadow-sm" type="submit">Submit</button>
      </div>
    </div>
  </form>
  