<div *ngIf="authService.loggedIn()" class="row">
  <div class="col-12 col-md-4 offset-md-4 text-center">
    <button routerLink="/new" class="btn btn-secondary shadow-sm">New Ruvent</button>
  </div>
</div>
<br>
<div class="row" *ngIf="ruvents">
  <div class="col-2 col-md-1 offset-md-3 text-left">
    <fa-icon (click)="getRuvents(prevMonthDate)" [icon]="faChevronCircleLeft" size="lg"></fa-icon>
  </div>
  <div class="col-8 col-md-4 text-center">
    <h2>{{currentMonthDate.format('MMMM')}}</h2>
    <p id="year-text" class="text-muted">{{currentMonthDate.format('YYYY')}}</p>
  </div>
  <div class="col-2 col-md-1 text-right">
    <fa-icon (click)="getRuvents(nextMonthDate)" [icon]="faChevronCircleRight" size="lg"></fa-icon>
  </div>
</div>
<br>
<div class="row" *ngIf="ruvents">
  <div *ngFor="let ruvent of ruvents" class="col-12 col-md-4 ruvent-card">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="card-title">{{ruvent.title}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="card-text text-muted">{{ruvent.startDate | date:'shortDate'}} {{ruvent.startTime | numberToTime}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="card-text">{{ruvent.address}}</p>
          </div>
        </div>
        <button routerLink="/detail/{{ruvent.ruventId}}"
          class="btn btn-sm btn-info btn-block shadow-sm">Details</button>
      </div>
    </div>
  </div>
</div>
