.ruvent-card {
  margin-bottom: 10px;
  padding: 0;
}

.ruvent-card .card {
  margin-left: 10px;
}

.ruvent-card button {
  margin-top: 10px;
}

#year-text {
  margin-bottom: 0;
}

fa-icon {
  color: rgb(223, 111, 98);
}
