<div class="row">
  <div class="col-3 text-center">
    <fa-icon *ngIf="(attendingUsers && notAttendingUsers)" class="attendance-btn text-danger" [icon]="faThumbsDown">
    </fa-icon>
    <p *ngIf="notAttendingUsers" class="attendance-count text-muted">{{notAttendingUsers.length}}</p>
  </div>
  <div class="col-3 offset-6 text-center">
    <fa-icon *ngIf="(attendingUsers && notAttendingUsers)" class="attendance-btn text-success" [icon]="faThumbsUp">
    </fa-icon>
    <p *ngIf="attendingUsers" class="attendance-count text-muted">{{attendingUsers.length}}</p>
  </div>
</div>
